@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Car Insurance</h1>
        <p class="lead">ASP.NET application using MVC Entity Framework</p>        
    </section>    
</main>